# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# Distribution / packaging
.Python
env/
venv/
ENV/
env.bak/
venv.bak/
*.egg
*.egg-info/
dist/
build/
eggs/
parts/
var/
sdist/
develop-eggs/
.installed.cfg
*.egg-info/
.installed.cfg
*.egg
MANIFEST

# Installer logs
pip-log.txt
pip-delete-this-directory.txt

# Unit test / coverage reports
htmlcov/
.tox/
.nox/
.coverage
.cache
nosetests.xml
coverage.xml
*.cover
.hypothesis/
.pytest_cache/
cover/
.nyc_output/

# Translations
*.mo
*.pot

# Documentation
docs/_build/

# Jupyter Notebook
.ipynb_checkpoints

# PyCharm
.idea/

# Spyder project settings
.spyderproject

# Rope project settings
.ropeproject

# Django stuff:
*.log
local_settings.py
db.sqlite3

# Flask stuff:
instance/
.webassets-cache

# Scrapy stuff:
.scrapy

# Sphinx documentation
docs/_build/

# PyBuilder
target/

# mypy
.mypy_cache/

# Env files
.env
.env.*

# Data files
data/sales_data.csv

# VS Code
.vscode/

# macOS
.DS_Store
